<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" ng-controller="competitionCtrl as ctrl3" ng-init="ctrl3.getCompetitionById()">
    <div class="container">
        <h3>{{ name_competition }}</h3>
        <p><img src="{{ banner_competition }}" border="0"/></p>
        <input type="hidden" id="hdIdCompetition" name="hdIdCompetition" value="{{ id_competition }}">
        <p>{{ description_competition }}</p>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-lg-4" ng-controller="webCtrl as ctrl4" ng-init="ctrl4.isLogged()">
                <p>
                    <a ng-if="message.logged" href="#/competitions">
                        <button type="button" class="btn btn-default">Regresar</button>
                    </a>
                    <a class="btn btn-primary btn-subir-video" role="button" href="#/{{ url_competition }}/{{ id_competition }}"
                       data-toggle="modal" data-target="#msgModal"><span>Subir video y participar</span></a>
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>


<div class="container" ng-controller="videoCtrl as ctrl" ng-init="ctrl.getVideos()">
    <div class="row3 float-left" style="margin: 10px 0px;">
        <div>
            <div class="input-group">
                <input type="text" class="form-control" ng-pagination-search="listavideos">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-search"> Buscar</i></button
                </span>
            </div>
        </div>
    </div>

    <div class="row3" ng-pagination="record in listavideos" ng-pagination-size="3">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <label class="glyphicon glyphicon-facetime-video gly"></label>
                <div class="caption">
                    <p ng-hide="record.state">
                        <video width="320" height="240" controls="true">
                            <source src="{{ record.original_video }}" type="video/mp4">
                        </video>
                    </p>
                    <p ng-if="record.state">
                        <video width="320" height="240" controls="true">
                            <source src="{{ record.converted_video }}" type="video/mp4">
                        </video>
                    </p>
                    <!--
                    <div id="myElement"></div>
                    <script type="text/JavaScript">
                        var playerInstance = jwplayer("myElement");
                        playerInstance.setup({
                            file: ""
                        });
                    </script>
                    -->
                    <h3>{{ record.name }} {{ record.surname }}</h3>
                    <p><strong>Mensaje:</strong> {{ record.message }}</p>
                    <p><strong>Correo:</strong> {{ record.user_email }}</p>
                    <p><strong>Fecha:</strong> {{ record.uploadDate }}</p>
                    <p><strong>Estado Actual:</strong>
                        <span ng-hide="record.state" class="animate-if">
                En proceso</span>
                        <span ng-if="record.state" class="animate-if">
                Convertido</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="row3" style="width:500px;">
        <ng-pagination-control pagination-id="listavideos" class="form-control"></ng-pagination-control>
    </div>
</div>
<!-- /container -->

<!-- Ventana Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="msgModal" ng-controller="videoCtrl as ctrl2">
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="id_button_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Subir video</h4>
                    <div align="center">
                        <img align="center" width="30px" height="30px" id="mySpinner" src="static/img/spinner.gif"
                             ng-show="loading"/>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="idRegisterClient">
                        <!-- //TODO: Vista de registro consumidor -->
                        <div class="alert alert-danger" ng-if="error">
                            Diligencia todos los campos
                        </div>
                        <h3 class="control-label" for="video">Información del video y usted</h3>
                        <form id="formVideo" method="post" enctype="multipart/form-data" name="formVideo">

                            <input type="hidden" class="competition_id" id="competition_id" name="competition_id"
                                   ng-model="newVideo.competition_id">
                            <input type="hidden" class="competition_url" id="competition_url" name="competition_url"
                                   ng-model="newVideo.competition_url">
                            <div class="form-group">
                                <label class="control-label" for="name">Nombre:</label>
                                <input type="text" id="name" name="name" class="form-control" ng-model="newVideo.name"
                                       ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="surname">Apellidos:</label>
                                <input type="text" id="surname" name="surname" class="form-control"
                                       ng-model="newVideo.surname" ng-required="true">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="user_email">Su email:</label>
                                <input type="text" id="user_email" name="user_email" class="form-control"
                                       ng-model="newVideo.user_email" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="message">Su mensaje:</label>
                                <textarea id="message" name="message" class="form-control"
                                          rows="5" cols="50" ng-model="newVideo.message" ng-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="original_video">Video:</label>
                                <input type="file" id="original_video" name="original_video" class="form-control"
                                       ng-model="newVideo.original_video" ng-required="false">
                            </div>
                            <button type="submit" ng-disabled="formVideo.$invalid" class="btn btn-primary"
                                    ng-click="ctrl2.addVideo()">Enviar
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Volver
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

