<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Empresa Y</h1>
        <p>El aprovisionamiento de software como servicio (SaaS) es el mecanismo que permite proporcionar innovación
            constantemente. La plataforma de SMART TOOLS ofrece una manera segura, de confianza y de bajo costo de
            proporcionar soluciones de SaaS de uno y varios inquilinos.
        <p><a class="btn btn-primary btn-lg"role="button" href="#/competitions" data-toggle="modal" data-target="#msgModal"><span>Crear concurso »</span></a></p>
    </div>
</div>

<div class="container" ng-controller="competitionCtrl as ctrl" ng-init="ctrl.getCompetitions()">
    <div class="row3" ng-repeat="record in competitions">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/static/img/profile.png" alt="...">
          <div class="caption">
            <h3>[[ record.name ]]</h3>
            <p><strong>Inicio:</strong> [[ record.startingDate ]]</p>
            <p><strong>Fin:</strong> [[ record.deadline ]]</p>
            <p><a href="#" class="btn btn-primary" role="button">Ver</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- /container -->

<!-- Ventana Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="msgModal" ng-controller="competitionCtrl as ctrl2">
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="id_button_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear Concurso</h4>
                    <div align="center">
                            <img align="center" width="30px" height="30px" id="mySpinner" src="static/img/spinner.gif" ng-show="loading" />
                          </div>
                </div>
                <div class="modal-body">
                    <div id="idRegisterClient">
                        <!-- //TODO: Vista de registro consumidor -->
                        <div class="alert alert-danger" ng-if="error">
                            Diligencia todos los campos
                        </div>
                        <h3 class="control-label" for="competition">Información Concurso</h3>
                        <form id="formCompetition" method="post" enctype="multipart/form-data" name="formCompetition">
                             
                            <div class="form-group">
                                <label class="control-label" for="name">Nombre:</label>
                                <input type="text" id="name" name="name" class="form-control" ng-model="newCompetition.name" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="url">Enlace:</label>
                                <input type="text" id="url" name="url" class="form-control" ng-model="newCompetition.url" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="image">Imagen:</label>
                                <input type="file" id="image" name="image" class="form-control" ng-model="newCompetition.image" ng-required="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="startingDate">Fecha Inicio:</label>
                                <input type="date" id="startingDate" name="startingDate" class="form-control" ng-model="newCompetition.startingDate" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="deadline">Fecha Fin:</label>
                                <input type="date" id="deadline" name="deadline" class="form-control" ng-model="newCompetition.deadline" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Descripción:</label>
                                <input type="text" id="description" name="description" class="form-control" ng-model="newCompetition.description" ng-required="true">
                            </div>
                            <button type="submit" ng-disabled="formCompetition.$invalid" class="btn btn-primary" ng-click="ctrl2.registerCompetition()">Guardar</button>
                            <a href="#/competitions" class="btn btn-default">Volver</a>
                        </form>

                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

